#mypts-filter-box-id-btn
{
    border-color: transparent !important;
    color: Black; 
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 5px;
    width: 100%;
    text-align: left;
}

#mypts-dialysis-center
{
    padding-right: 0px !important;
    width: 103%;
    overflow-x: hidden !important;
}

#mypts-dialysis-center.km-listview-link:after
{
    display: none !important;
}

.mypts-dc-btn.km-button.km-state-active
{
    border: 0px none !important;
}

.mypts-dc-btn.km-button
{
    background-image: none !important;
    background-repeat: no-repeat !important;
    border-radius: 0px !important;
    border: 0px none !important;
    width: 100% !important;
    text-align: left !important;
    font-weight: bold;
    text-transform: uppercase; 
}

.mypts-sort-box 
{ 
    float: left!important;
    background-color: white;
    margin: 10px 15px;
}

.mypts-search-box-text
{
    border: none;
    width: 200px;
    background: transparent;
    margin: 5px 5px 2px 5px;
    vertical-align: middle;
    float: left !important;
    font-size: 14px;
    color: GrayText;
    font-style: normal !important;
    height: 18px ! important;
}

#searchpatients-grid .k-grid tbody
{
    -webkit-backface-visibility: visible !important;
}

#mypts-listview-container
{
    height: 608px !important;
    background-color: #f0f0f0;
    border-top: 1px solid #aaa;
    overflow: hidden;
}

#mypts-listview
{
    height: 595px !important;
    padding: 20px 50px;
    vertical-align: middle;
    background-color: #f0f0f0 !important;
    font-weight: bold;
    color: #72706D;
}

.mypts-patient-view
{
    width: 305px;
    float: left;
    height: 215px; 
    text-align: left;
    padding: 5px;         
}

#mypts-listview div
{ 
    display: inline-block;
}

#pts-info-btn
{
    border: transparent !important;
    background: #f0f0f0 !important; 
}

#pts-ind-info
{
  text-align: left;
  width: 100%;  
}

_:-ms-fullscreen, :root #pts-ind-info
{
  text-align: left;
  width: 100%;
  margin-left:16px;  
}

#mypts-mvp 
{ 
    float: right;
}

.mypts-patient-view div
{
    float: left; 
}

.ptblock-ptheader
{ 
    width: calc(100% - 5px);
    text-transform: uppercase;
    min-height: 65px;
    font-size: 13px;
}

.ptblock-ptname
{
    font-size: 16px;
    margin-bottom: 7px;
}

.ptblock-ptsig
{ 
    float: right !important; 
}

.ptblock-ptdob
{ 
    clear: left;
}

.ptblock-dc
{
    clear: left;
    margin: 4px 0px;
    font-weight: normal;
    font-size: 12px;
    /* if long dia. center takes word wrap */    
    width: 155px;
    word-wrap: break-word;
    text-align: left;
}

.ptblock-shiftschedule
{
    float: right !important;
    font-weight: normal;
    margin: 4px 0px;
    font-size: 12px;
    margin-right: 5px;
}

_:-ms-fullscreen, :root .ptblock-shiftschedule
{
    float: right !important;
    font-weight: normal;
    margin: 4px 0px;
    font-size: 12px;
    margin-right: 5px;
    margin-left:15px;
}

#mypts-left-color-piller
{
    height: 207px !important;
}

.mypts-patient-view .pat-color
{
   
    height: 208px !important;
    width: 7px !important;
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
    background: white; 
    color: #72706D;   
}

.mypts-patient-view .pat-color-non-indicators
{
    height: calc(100% - 2px) !important;
    width: 7px !important;
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-top: 1px solid lightgray !important;
    border-right: 0px solid lightgray !important;
    border-bottom: 1px solid lightgray !important;
    border-left: 1px solid lightgray !important;
}

.mypts-patient-view .info
{
    padding: 10px !important;    
    width: calc(100% - 9px) !important;
    background-color: White !important;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border: 1px solid lightgray !important;
}

.mypts-patient-view .info-non-indicator
{
    padding: 10px !important;
    height: calc(100% - 22px) !important;
    width: calc(100% - 44px) !important;
    background-color: White !important;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top: 1px solid lightgray !important;
    border-right: 1px solid lightgray !important;
    border-bottom: 1px solid lightgray !important;
    border-left: 0px solid lightgray !important;
}

.mypts-patient-view .pat-mvp
{
    font-size: 11px !important;
    color: white;
    border-radius: 3px;
    background-color: #DC6060; 
    height: 15px;
    width: 35px;
    vertical-align: middle !important; 
    padding: 0px !important;
    text-align: center !important;
    margin-right: 5px;   
}

#pat-condition-sig
{
    float: right;
}

.mypts-patient-view .pat-mvp-container
{
    width: 266px; 
    float: left;
    margin-top: -2px;
}

.mypts-patient-view .pat-normal, .mypts-patient-view .indicators div
{
    font-size: 12px;
    font-weight: normal;
    margin-top: 4px;
}

#mypts-actionitems-view
{ 
    width: 70%;   
}

.mypts-patient-view .pat-separator
{
    clear: both;
    background-color: #C0C0C0 !important;    
    width:262px;
    height: 1px;
    border: none !important;
    margin-top: 7px;
}

.mypts-patient-view .indicators
{
    border: none;
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 48px);
    text-transform: none;
}

.mypts-patient-view .indicators span
{
    font-weight: normal;
    font-size: 14px;
}

_:-ms-fullscreen, :root .mypts-patient-view .indicators span {
    font-weight: normal;
    font-size: 14px;
    margin-left: 12px;
}

.mypts-patient-view .indicators .indicator
{ 
    list-style-type: square;   
   line-height: 10px;   
}

.indicators .km-scroll-container
{
    width: 100%;
}

#searchpatients-modalview 
{
    width: 700px !important;
    height: 550px !important;
}

#searchpatients-modalview .k-grid-content 
{
    overflow-y: scroll;
    overflow-x: scroll;
}

#ptsearch-header
{
    height: 30px !important;
    background-color: #124C7B !important; 
    color: #fff !important; 
}

#searchpatients-grid
{
    height: 100% !important;
    font-weight: bold;
}

#searchpatients-grid th.k-header, .k-grid-header 
{
    background: #6283A5;
}

#searchpatients-grid table tr.k-state-selected > td
{
    
    font-weight: bold;
    color: White !important;
}

#switchroster-grid table tr.k-state-selected > td
{
    
    font-weight: bold;
    color: White !important;
}

#searchpatients-modalview-footer
{
    width: 100% !important;
    background-color: #fff !important;
    float: left !important;
    text-align: left !important;
    padding: 5px 0px !important;
    display: block !important;
    vertical-align: middle !important;
    border-top-color: rgba(0, 0, 0, 0.1) !important;
    border-top-width: 1px !important;
    border-top-style: solid !important;
}

#searchpatients-modalview-footer .footerbuttons
{
    float: right !important;
    text-align: right !important;
}

#no-data-searchpatients-modalview-footer
{
    width: 100% !important;
    background-color: #fff !important;
    float: left !important;
    text-align: left !important;
    padding: 5px 0px !important;
    display: block !important;
    vertical-align: middle !important;
    border-top-color: rgba(0, 0, 0, 0.1) !important;
    border-top-width: 1px !important;
    border-top-style: solid !important;
}

#no-data-searchpatients-modalview-footer .footerbuttons
{
    float: right !important;
    text-align: right !important;
    margin-top: 10px !important;
    margin-right: 10px !important; 
}

#mypts-modal .div-header-text
{
    vertical-align: middle !important;
    padding: 0px 0px 0px 5px!important;
    color: White; 
}

#mypts-no-data-modal .div-header-text
{
    vertical-align: middle !important;
    padding: 0px 0px 0px 5px!important;
    color: White; 
}

#mypts-no-data-modal .div-no-data-header
{
    height: 35px;
    width: 100%;
    text-align: left;
    margin: 0px; 
    background-color: #124C7B; 
}

#mypts-no-data-modal .div-no-data-header-text
{
    vertical-align: middle;
    padding: 25px 10px 0px 10px;
    font-size: medium;
    font-weight: bold;
    color: White; 
}

#mypts-search-no-data
{
    height: 200px;
    margin-top: 25px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#switchroster-modalview 
{
    width: 500px !important;
    height: 550px !important;
}

#switchroster-grid
{
    font-weight: bold;
}

#mypts-filter-popover-view2
{
    height: 377px;
    padding: 10px;
    color: #808285 !important;
}

#mypts-filter-options-details-left
{
    display: inline-block;
    width: 21%;
    float: left; 
    color: #808285 !important;
    margin-top: 3px;
    margin-bottom: 20px;
}

#mypts-filter-options-details-center
{
    display: inline-block;
    width: 17%;
    float: left;
    color: #808285 !important;
    margin-top: 3px;
    margin-bottom: 20px;
}

#mypts-filter-options-details-center-left
{
    display: inline-block;
    width: 17%;
    float: left;
    color: #808285 !important;
    margin-top: 3px;
    margin-bottom: 20px;
}

#mypts-filter-options-details-center-right
{
    display: inline-block;
    width: 15%;
    float: left;
    color: #808285 !important;
    margin-top: 3px;
    margin-bottom: 20px;
}

#mypts-filter-options-details-right
{
    display: inline-block;
    width: 25%;
    float: left;
    color: #808285 !important;
    margin-top: 3px;
    margin-bottom: 20px;
}

#mypts-filter-options-details-bottom
{    
    width: 100%;
    float: left;
    margin-top: 5px;
}

.mypts-filter-schedule
{    
    padding: 0px 20px 10px 0px; 
    float: left;
    margin-right: 8px;
}

.mypts-filter-options-div
{
    height: 30px
}

#mypts-footer-errormsg
{
    height: 45px;
    background-color: white !important;
    color: black;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #808285;
    padding: 10px 0px 0px 5px !important;
}

#searchpatients-grid.k-grid td
{ 
    color: #000 !important;
}

#switchroster-grid.k-grid td
{ 
    color: #000 !important;
}

.mypts-margin-top-5-pixels{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    height: 15px !important;
}

.mypts-pop-over-close{
        vertical-align: top;
    float: right;
    display: inline-block;
    width: 5% !important;
    margin-top: -7px !important;
}

.mypts-current-filter-label
{
    font-size: 13px !important;
    font-weight: bolder !important;
    color: #76787B;
    padding: 5px 0px;
    margin-right: 3px !important;
    margin-left:5px !important;
}

.mypts-current-filter-value
{
    color: #999999;
    font-size: 13px !important;
    font-weight: normal !important;
    padding: 5px 0px;
    text-transform:capitalize !important;
}

.mypts-current-filter{
    margin-left:15px !important;
    margin-bottom:10px !important; 
    margin-right: 5px !important;
}

.mypts_separator
{
    border-bottom: 1px solid rgb(170,170,170);
    height:2%;
    width:100%;
    float:left;
    margin-top:5px;    
    margin-bottom:10px !important;
}
#switchroster-modalview .k-grid-content{
    height: auto !important;
}
#switchroster-grid .k-grid-header .k-header{
   background-image: none !important;
}
