<kendo-mobile-view ng-controller="FluidReviewTabController" class="crd-view">
	<div id="fluidreviewtab-container"> 
        <div class="crd-screenname-container">
            <div class="crd-screennameheader">Review</div>
        </div>

        <div ng-hide="noDataAvailable">
		
			
			<div id="fluidReviewTabChart">
			</div>

			<div id="fluidReviewTabGrid">
			</div>

        </div> 

		<div class="no-data-available" ng-show="noDataAvailable">No Data Available</div>
    </div>
</kendo-mobile-view>